<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" rel="stylesheet" type="text/css">

	<title></title>
</head>
<body>
	<nav><a href="http://localhost:3000/">Home</a><br></nav>

	<h1>USERS</h1>

	<ul>
		<% for (let i = 0; i < users.length; i++){ %>
			<li><a href="/users/<%=users[i].id%>"><%=users[i].username%></a></li>
		<%}%>
	</ul>

	<a href="/users/new">Sign up (Create New User)</a>

</body>
</html>