<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav><a href="http://localhost:3000/">Home</a><br><a href="http://localhost:3000/users">User Index</a></nav>

	<h1><%=user.username%></h1>
	<h5>
		<a href="/users/<%=user.id%>/edit">Edit User</a>
		<br>
		<a href="">Delete User</a>
	</h5>

		<!-- HERE WE DISPLAY ALL THE USER'S PICTURES -->
		<% for (let i = 0; i < user.photos.length; i++){ %>
			<img src="">
		<%}%>


</body>
</html>