<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav><a href="http://localhost:3000/">Home</a><br><a href="http://localhost:3000/users">User Index</a></nav>

	<h1>USERNAME</h1>
	<h5>
		<a href="">Edit</a>
		<a href="">Delete</a>
	</h5>

		<!-- HERE WE DISPLAY ALL THE USER'S PICTURES -->
		<% for (let i = 0; i < user.photos.length; i++){ %>
			<img src="">
		<%}%>


</body>
</html>