<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" rel="stylesheet" type="text/css">

	<title></title>
</head>
<body>

	<h1>Photo Blog</h1>

	<br>
	<h3><a href="http://localhost:3000/users">All Users</a></h3>
	<h3><a href="http://localhost:3000/photos">All Photos</a></h3><br>



	<a href="/users/new">Sign up (Create New User)</a>

</body>
</html>