<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<a href="http://localhost:3000/">Home</a><br>
		<a href="http://localhost:3000/photos">Photo Index</a>
	</nav>

	<h1>PHOTOS</h1>

	<ul>
		<% for (let i = 0; i < photos.length; i++){ %>
			<label for="photo"><%=photos[i].title%></label>
			<img src="<%=photos[i].url%>" id="photo">
		<%}%>
	</ul>

	<a href="/photos/new">Add Photo</a>

</body>
</html>